<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjh1uPLgCVks5DMAp7Rtnp2eI1axAoEi8</string>
	<key>GCM_SENDER_ID</key>
	<string>72588735121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fundusApp</string>
	<key>PROJECT_ID</key>
	<string>fundus-app-19899</string>
	<key>STORAGE_BUCKET</key>
	<string>fundus-app-19899.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72588735121:ios:548c095c996fa1d7214530</string>
</dict>
</plist>